:root {
  /* pastel sapphire */
  --highlight: #d7c7f9;
  /* dark purple */
  --select: #31254a;
  /* mid lilac */
  --background: #67548c;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #67548c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
}


/* NAVBAR */

#menu {
  z-index: 2;
}

#menu-bars {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.menu-bar {
  height: 5px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar-1 {
  transform: translateY(-4px);
}

#bar-3 {
  transform: translateY(4px);
}

#nav {
  transition: 0.3s ease;
}

#nav ul {
  padding: 0 22px;
  list-style-type: none;
}

#nav li {
  list-style: none;
  padding: 12px 0;
}

#nav li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

#nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: fixed;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, var(--highlight), var(--highlight));
  border-radius: 50%;
  transition: 0.3s ease;
}

/* .menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"><path fill="%23d7c7f9" d="M62.5,-26C67.5,-4.8,48.9,18.4,25.5,35.5C2,52.6,-26.1,63.6,-46.7,51.6C-67.3,39.7,-80.3,4.7,-71.3,-22C-62.3,-48.7,-31.1,-67,-1.2,-66.6C28.7,-66.2,57.5,-47.1,62.5,-26Z" transform="translate(0 0)" /></svg>');
  background-size: cover;
  border-radius: 50%;
  transition: 0.3s ease;
} */


.change {
  display: block;
}

.change .menu-bar {
  background-color: black;
}

.change #bar-1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar-2 {
  opacity: 0;
}

.change #bar-3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}

/* MAIN PAGE */

main {
  width: 100vh;
  margin: auto;
  padding: 0%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

/* HEADERS */

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* ABOUT ME */

#about-me {
  text-align: left;
}

/* RESUME */

#download-resume {
  padding: 10px 15px;
  margin-bottom: 2em;
  margin-top: 2em;
}

.resume-embed {
  width: 60vw;
  height: calc(100vh - 250px);
  border-radius: 10%;
  border: none;
}

#iframe-container {
  width: 100%;
}

.doc-content {
  width: 20%;
}

#download-resume a,
button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--highlight);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#download-resume a:hover,
button:hover {
  background-color: var(--select);
  color: white;
}

/* CONTACT */

#contact {
  width: 100%;
  height: 100%;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* send email */

#contact-form {
  max-width: 400px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  width: calc(45% - 20px);
}

.user-input {
  max-width: 400px;
  font-weight: 400;
  background-color: var(--select);
  color: white;
  letter-spacing: 1px;
  border-radius: 4px;
  border: #fff;
  padding: 1em;
  margin: 0 0 0.5em 0;
}

/* my contact info */

#direct-contact {
  max-width: 400px;
  width: calc(45% - 20px);
}

#direct-contact li {
  line-height: 2.5;
}

#contact-list {
  list-style-type: none;
  /* margin-left: -30px; */
  margin: 0 auto;
  padding-right: 20px;
  text-align: start;
}

.location {
  margin-left: 44px;
}

.phone {
  margin-left: 40px;
}

.email {
  margin-left: 42px;
}

.contact-text {
  letter-spacing: 1.5px;
}

.contact-text a {
  color: white;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: chartreuse;
  letter-spacing: 0.1em;
}

/* my socials */

#social-media {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#social-media li a {
  color: var(--select);
}

#social-media li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: var(--highlight);
  background-color: var(--highlight);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#social-media li:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

#social-media li:hover {
  background-color: var(--select);
}

#social-media li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

#social-media li:hover a {
  color: var(--highlight);
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  #contact-form,
  #direct-contact {
    width: 100%;
    align-self: center;
  }
}